/* основний колір текста  #757575; */
/* вторинний колір текста #212121; */
/* колір акцент #2196F3; */
/* білий #FFFFFF; */
/* чорний колір #000000 */

/* основний колір фона #F5F5F5; */
/* вторинний колір фона #F5F4FA; */
/* колір фона футера #2F303A; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;

  --primary-bcg-color: #f5f5f5;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;

  --color-white-shadow: rgba(255, 255, 255, 0.6);
}

/* =========================================BODY*/

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.title {
  color: var(--title-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========================================LOGO*/
.logo {
  color: var(--black-color);

  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav-logo {
  color: var(--accent);
}

.footer .logo {
  display: inline-block;
  color: var(--white-color);
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer-logo {
  color: var(--accent);
}

/* =======================================NAV*/

.nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-inner {
  color: var(--accent);
}

.nav-contact {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contact:hover,
.nav-contact:focus {
  color: var(--accent);
}

/* ======================================HERO*/
.hero {
  background-color: var(--footer-bcg-color);
  color: var(--white-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  border: 0;

  color: var(--white-color);
  background-color: var(--accent);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--title-text-color);
}

/* =====================================ABOUT*/
.about-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.about-text {
  line-height: 1.71;
  margin: 0;
}

.about-list {
  margin-bottom: 94px;
}

/* ======================================WORK*/

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.work-item {
  margin-bottom: 94px;
}
/* ======================================TEAM*/

.team {
  background-color: var(--secondary-bcg-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0;
}

/* ====================================FOOTER*/

.footer {
  background-color: var(--footer-bcg-color);
}

.address {
  font-style: normal;
}

.footer-contact,
.footer-adress {
  font-weight: 400;
  line-height: 1.71;
}

.footer-adress {
  color: var(--white-color);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent);
}

.footer-contact {
  color: var(--color-white-shadow);
}

.footer-item {
  margin-bottom: 9px;
}

.footer-list {
  display: inline-block;
  margin-top: 0;
  padding-bottom: 60px;
}
/* =================================PORTFOLIO*/

/* ==================================CONTENT */

.content-btn {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  display: inline-block;
  border-radius: 4px;
  border: 0;
  min-width: 73px;
}

.content-btn:hover,
.content-btn:focus {
  background-color: var(--accent);
  color: var(--white-color);
}

.content-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.content-text {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}
