/* основний колір текста  #757575; */
/* вторинний колір текста #212121; */
/* колір акцент #2196F3; */
/* білий #FFFFFF; */
/* чорний колір #000000 */

/* основний колір фона #F5F5F5; */
/* вторинний колір фона #F5F4FA; */
/* колір фона футера #2F303A; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;

  --primary-bcg-color: #f5f5f5;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;

  --color-white-shadow: rgba(255, 255, 255, 0.6);
}

/* =========================================BODY*/

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.title {
  color: var(--title-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========================================LOGO*/
.logo {
  color: var(--black-color);

  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav-logo {
  min-width: 145px;
  padding: 24px 0 25px 0;
}

.navigate-logo {
  color: var(--accent);
}

.footer .logo {
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;

  color: var(--white-color);
}

.footer-logo {
  color: var(--accent);
}

/* =======================================NAV*/

.nav {
  display: flex;
  align-items: center;
}

/* nav menu */
.nav-menu {
  display: flex;
  margin-left: 93px;
}

.nav-menu .nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu .nav-link {
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-inner {
  color: var(--accent);
}

/* nav list contact */

.nav-list {
  display: flex;
  margin-left: auto;
}

.nav-list .contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .nav-contact {
  display: block;
  padding: 32px 0;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contact:hover,
.nav-contact:focus {
  color: var(--accent);
}

/* ======================================HERO*/
.hero {
  background-color: var(--footer-bcg-color);
  color: var(--white-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  display: block;
  padding: 200px 0 30px 0;
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
}

.hero-btn {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 216px;
  border: 0;

  color: var(--white-color);
  background-color: var(--accent);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--title-text-color);
}

/* =====================================ABOUT*/

.about-list {
  display: flex;
  margin: 94px 0;
}

.about-item {
  width: calc((100% / 90px) / 4);
  margin-right: 30px;
}

.about-item:nth-child(4n) {
  margin-right: 0;
}

.about-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-text {
  max-width: 270px;
  line-height: 1.71;
}

/* ======================================WORK*/

.work-list {
  display: flex;
  margin-bottom: 94px;
}

.work-item {
  display: block;
  height: 294px;
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-section-title,
.team-section-title {
  padding-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ======================================TEAM*/

.team {
  background-color: var(--secondary-bcg-color);
}

.team-list {
  display: flex;
  margin-bottom: 94px;
}

.team-item {
  width: calc((100%-3 * 30px) / 4);
  margin-right: 30px;
  width: 270px;
  height: 368px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-section-title {
  padding-top: 94px;
}

.team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-text {
  margin: 0;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* ====================================FOOTER*/

.footer {
  background-color: var(--footer-bcg-color);
}

.address {
  font-style: normal;
  padding-bottom: 60px;
}

.footer-list {
  width: 231px;
  height: 81px;
}

.footer-list .footer-item + .footer-item {
  margin-top: 9px;
}

.footer-contact,
.footer-adress {
  font-weight: 400;
  line-height: 1.71;
}

.footer-adress {
  color: var(--white-color);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent);
}

.footer-contact {
  color: var(--color-white-shadow);
}

/* =================================PORTFOLIO*/

/* ==================================CONTENT */

/* Content-list */
.content-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 94px;
  min-width: 575px;
}

.content-list .content-item + .content-item {
  margin-left: 8px;
}

.content-btn {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  min-width: 73px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.content-btn:hover,
.content-btn:focus {
  background-color: var(--accent);
  color: var(--white-color);
}

/* Gallery list */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.gallery-item {
  display: block;
  width: calc((100% - 2 * 30px) / 3);
  max-height: 404px;
  min-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallery-title {
  padding: 20px 24px 0 24px;
  margin: 0;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  padding: 4px 24px 20px 24px;
  margin: 0;

  font-size: 16px;
  line-height: 1.88;
}
